.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.renderHolder {
  height:100%;
}

.destinationPopularMargin {
  margin-top: 50px;
}

.BookingContainer {
  display: flex;
  flex-direction: column;
  background-color: #5555ff;
  padding: 10px 10px;
  border-radius: 20px;
  width: 50%;
  margin: 30px auto;
  border: 5px solid #4444ff;
}

.BookingRow {
    background-color: #4444ff;
    width: 90%;
    border-radius: 20px;
    margin: 15px auto;
    overflow: hidden;
    border-color: transparent;
}

.BookingButton {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.ticket {
    width: 100%;
}

.bookingText {
    font-size: 1.2rem;
}

.deleteButton {
    padding: 5px 20px;
    border-radius: 10px;
}

.extraSpace {
    height: 30px;
}