h1 {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.text-box {
    background-color: #dc143c;
    padding: 10px 30px;
    width: 75%;
    border-radius: 25px;
    margin: 50px auto;
}

.content {
	padding: 20px;
}

.article-image {
  float: left;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 660px) {
    .article-image {
        width: 100%;
    }
}